node_modules
api/node_modules
api/env
api/logs
api/uploads/requests/*.jpg
api/uploads/requests/*.jpeg
api/uploads/requests/*.png
api/uploads/profile/*.jpg
api/uploads/profile/*.jpeg
api/uploads/profile/*.png
.env
docs